.comments{
    overflow-y: auto;
    /*  word-break se a palavra fica muito grande é so quebrar ela*/
    word-break: break-word;
    padding: 0 2rem;
}

.single.comments{
    padding: 0px;
}


.comments li{
    margin-bottom: .5rem;
    line-height: 1.2;
}